/* Inter Tight Шрифт */
@font-face {
    font-family: 'Inter Tight';
    src: url('/fonts/inter-tight/InterTight-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/fonts/inter-tight/InterTight-Italic-VariableFont_wght.ttf');
    font-style: italic;
    font-weight: 100 900;
}

.inter-tight-font {
    font-family: 'Inter Tight', sans-serif;
}
