/* Файл для хранения CSS-переменных */

/* ------------------ Светлая тема ------------------ */
:root {
    --bg-main: #e5f2ff;
    --bg-secondary: #eef6ff;
    --bg-card: #d6d6d6;
    --bg-accent: #006bd6;
    --hover-accent-color: #0058b1;
    --text-main: #5c5c5c;
    --text-heading: #202020;
    --text-accent: #fff;
    --border-color: #c0d4e3;
    --shadow-main-color: #004080;
    --shadow-red-color: #830000;
    --both-white: #fff;

    /* Статусы */
    --status-created: #006bd6;
    --status-confirmed: #008000;
    --status-cancelled: #b10101;
    --status-expired: #808080;
}

/* ------------------ Тёмная тема ------------------ */
:root[data-theme='dark'] {
    --bg-main: #121212;
    --bg-secondary: #1a1a1a;
    --bg-card: #242424;
    --bg-accent: #ff9b0e;
    --hover-accent-color: #d87e00;
    --text-main: #cfcfcf;
    --text-heading: #fff;
    --text-accent: #121212;
    --border-color: #3a3a3a;
    --shadow-main-color: rgb(0, 0, 0, 0.6);
    --shadow-red-color: #ff4d4f;
    --both-white: #fff;

    /* статусы */
    --status-created: #4dabf7;
    --status-confirmed: #51cf66;
    --status-cancelled: #ff6b6b;
    --status-expired: #868e96;
}
