/* Файл для хранения CSS-переменных */

/* ------------------ Светлая тема ------------------ */
:root {
    --bg-main: #e5f2ff;
    --bg-card: #fff;
    --bg-accent: #006bd6;
    --text-main: #3f3f3f;
    --text-heading: #202020;
    --text-accent: #fff;
    --border-color: #c0d4e3;
    --shadow-main-color: #004080;
}

/* ------------------ Тёмная тема ------------------ */
:root[data-theme='dark'] {
    --bg-main: #1a1a1a;
    --bg-card: #2b2b2b;
    --bg-accent: #3d2a1f;
    --text-main: #ccc;
    --text-heading: #fff;
    --text-accent: #fff;
    --border-color: #ff9f1c;
}
