/* Файл для хранения CSS-переменных */

/* ------------------ Светлая тема ------------------ */
:root {
    --bg-main: #e5f2ff;
    --bg-secondary: #eef6ff;
    --bg-card: #d6d6d6;
    --bg-accent: #006bd6;
    --hover-accent-color: #0058b1;
    --text-main: #5c5c5c;
    --text-heading: #202020;
    --text-accent: #fff;
    --border-color: #c0d4e3;
    --shadow-main-color: #004080;
    --shadow-red-color: #830000;
    --both-white: #fff;

    /* Статусы */
    --status-created: #006bd6;
    --status-confirmed: #008000;
    --status-cancelled: #b10101;
    --status-expired: #808080;
}

/* ------------------ Тёмная тема ------------------ */
:root[data-theme='dark'] {
    --bg-main: #1a1a1a;
    --bg-card: #2b2b2b;
    --bg-accent: #3d2a1f;
    --text-main: #ccc;
    --text-heading: #fff;
    --text-accent: #fff;
    --border-color: #ff9f1c;
    --both-white: #fff;
}
